:root {
  --BG: #222831;
  --2ndBG: #393E46;
  --accent: #00ADB5;
  --text: #EEEEEE;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: var(--BG);
  color: var(--text);
  margin: 0px;
  padding: 0px;
}

.section{

}